.navbar1 {
    box-sizing: content-box;
    padding: 10px 0;
    height: 20px;
    background-color: #fff;
}

.navbar1,
.navbar2 {
    z-index: 100;
}


.navbar1 div {
    display: flex;
    justify-content: space-between;
}

.showAll {
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.navA {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d352c;
    width: 70%;
    height: 100%;
}

.navA div {
    position: absolute;
    top: 0;
    background-color: #2d352c;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.yopar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(77, 63, 63, 0.28);
}

.navA div a {
    background-color: rgb(27, 26, 26, 0.7);
    width: 140px;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
}


.df {
    display: flex;
    gap: 120px;
}

.df .phone {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 222px;
    height: 78px;
}

.phone span {
    color: #1A2338;
    text-align: right;
    font-family: Golos UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.location {
    color: #1A2338;
    font-family: Golos UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.df div:nth-child(1) span a {
    font-size: 24px;
}

.df div:nth-child(1) {
    display: flex;
    gap: 15px;
}


/*  */

.navbar2 {
    background-color: #E4EEF3;
    padding: 10px 0;
}

.navbar2 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    border: 2px solid #07318b;
    background-color: #07318b !important;
    overflow: hidden;
    border-radius: 15px;
    height: 35px;
    background-color: #F4F8FA;
}

.search input {
    background-color: #F4F8FA;
    width: 720px;
    border: none;
    outline: none;
    box-sizing: content-box;
    padding-left: 30px;
}

.search:hover {
    border: 2px solid #315BB3;
    background-color: #315BB3 !important;
}

.search div {
    width: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil {
    display: flex;
    gap: 30px;
}

.profil div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.profil div:hover {
    transform: scale(1.09);
}

.profil div p {
    color: var(--headings-color, #1A2338);
    font-family: Golos UI;
    font-size: 16px;
    font-weight: 500;
}

.profil div img {
    width: 72px;
    height: 32px;
}

.navbar2 div div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.links {
    width: 720px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 40px;
}

.bars img {
    display: none;
}

.links a {
    display: flex;
    align-items: center;
    color: var(--headings-color, #1A2338);
    font-family: Golos UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


/* On screens that are 1296px or less*/

@media screen and (max-width: 1296px) {
    .df {
        gap: 80px;
    }

    .df .phone {
        gap: 20px;
    }

    .search {
        height: 32px;
    }

    .search input {
        width: 420px;
        padding-left: 20px;
    }

    .search div {
        width: 40px;
    }

    .links {
        width: 450px;
        gap: 14px;
    }

    .links a {
        font-size: 13px;
    }

    .logo {
        width: 200px;
        height: 71px;
    }
}

/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
    .df {
        gap: 30px;
    }

    .phone a,
    .location a {
        font-size: 13px;
    }

    .df div:nth-child(1) span a {
        font-size: 20px;
    }


    .df .phone {
        gap: 15px;
    }

    .df div:nth-child(1) {
        display: none;
    }

    .search {
        height: 25px;
    }

    .search input {
        width: 180px;
    }

    .search div {
        width: 27px;
    }

    .search div img {
        width: 15px;
        height: 15px;
    }

    .navbar2 div div:nth-child(2) {
        flex-direction: row-reverse;
        gap: 10px;
    }

    .links {
        width: auto;
    }

    .bars img {
        display: block;
    }

    .links a {
        display: none;
    }

    .logo {
        width: 180px;
        height: 67px;
    }

    .profil div p {
        font-size: 13px;
    }

    .profil div img {
        width: 52px;
        height: 37px;
    }

}

/* On screens that are 710px or less*/

@media screen and (max-width: 710px) {
    .navbar1 {
        display: none;
    }

    .search input {
        display: none;
        width: 150px;
        height: 25px;
    }
    .search{
        height: 28px;
    }

    .navbar2 div div:nth-child(2) {
        gap: 10px;
    }
}

/* On screens that are 470px or less*/
@media screen and (max-width: 470px) {
    .profil div img {
        width: 42px;
        height: 30px;
    }

    .logo {
        width: 130px;
        height: 50px;
    }

    .profil div p {
        font-size: 11px;
    }

    .profil {
        gap: 7px;
    }

    .profil div {
        gap: 0 !important;
    }

    .navbar2 div div:nth-child(2) {
        gap: 4px;
    }

    .search div img {
        width: 13px;
        height: 13px;
    }

    .search {
        max-width: 220px;
        height: 25px;
    }

    .bars {
        width: 20px;
        height: 20px;
    }

}

/* On screens that are 300px or less*/
@media screen and (max-width: 300px) {
    .logo {
        width: 100px;
        height: 33px;
    }
}