.active {
  color: #634018 !important;
  font-size: 19px !important;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.specialNavDiv {
  height: 150px;
  width: 100%;
}

.cardBtn img {
  width: 21px;
  height: 21px;
}

.cardBtn {
  display: flex;
  padding: 10px 20px 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--buttons-color, #315BB3);
  color: #FFF;
  font-family: Golos UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border: none;
}

.cardBtn:hover {
  background-color: #1452D4;
  cursor: pointer;
}


/* On screens that are 1296px or less*/

@media screen and (max-width: 1296px) and (min-width: 992.001) {
  .active {
    font-size: 14px !important;
  }
}

/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {}

/* On screens that are 710px or less*/
@media screen and (max-width: 710px) {
  .specialNavDiv {
    height: 100px;
  }
}

/* On screens that are 470px or less*/
@media screen and (max-width: 470px) {}

/* On screens that are 340px or less*/
@media screen and (max-width: 340px) {}