.payment h1{
    color: var(--headings-color, #1A2338);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 50px;
}
.payment h2{
    color: var(--headings-color, #1A2338);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.payment__card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.py__card{
    text-align: center;
    width: 300px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    /* background-color: #315BB3; */
    background: var(--bg-interface, #F3F4F6);
}
.py__card h3{
    color: var(--headings-color, #1A2338);
    text-align: center;
    font-family: Akrobat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.payment h4{
    color: var(--headings-color, #1A2338);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 50px;
}
.payment__cart{
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}
.payment__cart p{
    color: var(--Text, #1A1A1A);
    font-family: Golos UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.carts{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.carts div{
    text-align: center;
    border-radius: 10px;
    padding: 1px 20px;
}
.carts div img {
    height: 99px;
    object-fit: cover;
}

.about{
    margin-top: 20px;
}
.about div{
    display: flex;
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.about__name{
    color: var(--Grey-heading, #808080);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.about__desc{
    color: var(--Text, #1A1A1A);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.location__desc{
    margin-top: -60px;
}
@media (max-width: 1137px){
    .py__card{
        width: 250px;
    }
}
@media (max-width: 1000px){
    .py__card{
        width: 210px;
    }
    .carts{
        padding: 1px 10px;
        display: block;
    }
    .carts div{
        margin-bottom: 15px;
    }
}
@media (max-width: 869px){
    .py__card{
        width: 160px;
    }
}
@media (max-width: 754px){
    .carts div{
        width: 180px; 
        margin-right: 100px;
    }
}
@media (max-width: 715px){
    .payment__card{
        display: block;
    }
    .py__card{
        width: 360px;
        margin-bottom: 15px;
    }
}
@media (max-width: 740px){
    .payment__card{
        display: grid;
        grid-template-columns: 1fr;
    }
    .payment__cart{
        grid-template-columns: auto;
    }
    .py__card{
        width: 360px;
        margin-bottom: 15px;
    }
    .carto{
        display: block;
    }
    .carts{
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto;
    }
}
@media (max-width: 480px){
    .py__card{
        width: 300px;
        margin-bottom: 15px;
    }
}
@media (max-width: 414px){
    .py__card{
        width: 220px;
        margin-bottom: 15px;
    }
    .payment h1{
        font-size: 30px;
    }
    .payment h2{
        font-size: 26px;
    }
}
@media (max-width: 337px){
    .py__card{
        width: 180px;
        margin-bottom: 15px;
    }
}


.pr_form{
    padding: 80px;
}
.pr_form h1{
    margin-bottom: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pr_form label{
    color: #505977;
    margin-top: 10px;
}
.pr_form label span{
    font-size: 12px;
    color:rgb(57, 57, 249);
    margin-left: 120px;
}
.pr_form input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border:#2A254B 2px solid;
    outline: none;
}
.pr_form button{
    width: 300px;
    height: 30px;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(57, 57, 249);
}
.pr_form h2{
    font-size: 12px;
    margin-top: 10px;
    color: #746e90;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pr_form h2 span{
    color: rgb(57, 57, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 512px){
    .pr_form{
        padding: 40px;
    }
}
@media (max-width: 421px){
    .pr_form{
        padding: 10px;
    }
}
@media (max-width: 363px){
    .pr_form{
        padding: 10px;
    }
    .pr_form input{
        width: 250px;
        height: 30px;
    }
    .pr_form button{
        width: 250px;
        height: 30px;
    }
    .pr_form label span{
        font-size: 12px;
        color:rgb(57, 57, 249);
        margin-left: 80px;
    }

}
@media (max-width: 323px){
    .pr_form{
        padding: 10px;
    }
    .pr_form input{
        width: 200px;
        height: 30px;
    }
    .pr_form button{
        width: 200px;
        height: 30px;
    }
    .pr_form label span{
        font-size: 12px;
        color:rgb(57, 57, 249);
        margin-left: 20px;
    }
    .pr_form h1{
        font-size: 20px;
    }

}
@media (max-width: 223px){
    .pr_form{
        padding: 10px;
    }
    .pr_form input{
        width: 130px;
        height: 30px;
    }
    .pr_form button{
        width: 130px;
        height: 30px;
    }
    .pr_form label span{
        font-size: 12px;
        color:rgb(57, 57, 249);
        margin-left: 10px;
    }

}

@media (max-width: 1232px){
    .about div{
        display: flex;
        width: 800px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}
@media (max-width: 1010px){
    .about div{
        display: flex;
        width: 600px;
        padding-top: 10px;
        padding-bottom: 5px;
    }  
    .about__name{
        color: var(--Grey-heading, #808080);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
    .about__desc{
        color: var(--Text, #1A1A1A);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}
@media (max-width: 610px){
    .about div{
        display: flex;
        width: 400px;
        padding-top: 10px;
        padding-bottom: 5px;;
    }
    .about__name{
        color: var(--Grey-heading, #808080);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }
    .about__desc{
        color: var(--Text, #1A1A1A);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
}
@media (max-width: 440px){
    .about div{
        display: flex;
        width: 230px;
        padding-top: 10px;
        padding-bottom: 5px;
        
    }
    .about__name{
        color: var(--Grey-heading, #808080);
        font-size: 7px;
        font-style: normal;
        font-weight: 500;
    }
    .about__desc{
        color: var(--Text, #1A1A1A);
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
    }
}
@media (max-width: 260px){
    .about div{
        display: flex;
        width: 180px;
        padding-top: 10px;
        padding-bottom: 5px;
        
    }
    .about__name{
        color: var(--Grey-heading, #808080);
        font-size: 7px;
        font-style: normal;
        font-weight: 500;
    }
    .about__desc{
        color: var(--Text, #1A1A1A);
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
    }
}
